.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.hiding {
    display: none;
}

.checked {
    text-decoration: line-through;
    text-decoration-color: #9e9e9e;
    color: #9e9e9e;
}
