.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.hiding {
    display: none;
}

.checked {
    text-decoration: line-through;
    text-decoration-color: #bdbdbd;
    color: #bdbdbd;
}
