html, body {
    margin: 0;
    height: 100%;
    background: lightgray;
}

.wrap {
    display: flex;
    height: 100%;
    flex-direction: row; /* 정렬 방향 - 수평 */
    justify-content: center; 
    align-items: center;
}

.outBox {
    /* display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */
    width: 600px;
    height: 100%;
    padding: 30px;
    position: relative;
    background: white;
}

/* 다크라이트모드 디자인 */
.darkLightCheckBox {
    position: absolute; /* relative -> outBox */
    right: 40px;
}

/* 날짜 및 요일 디자인 */
.date {
    text-align: center;
    margin-top: 40px;
}
.dateText1 {
    font-size: 60px;
    font-weight: 700;
}

.dateText2 {
    font-size: 34px;
    font-weight: 100;
    margin-top: -17px;
}

/* 날씨 디자인 */
.weather {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: #616161;
}

/* 시계 디자인 */
.clocks {
    text-align: center;
    position: relative;
}

.amPm_text {
    position: absolute;
    top: 40px;
    left: 120px;
    font-size: 18px;
    float: left;
}

.clock_text {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}

/* input box 디자인 */
/* 1.전체적인 Input 공통 디자인 */
input {color: #d3d3d3;}
input::placeholder {color: #d3d3d3; }
.nameInput,
.toDoInput {
    width: 300px;
    height: 38px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding-left: 20px;
}

/* 2.nameInput 디자인 */
.nameForm {position: relative;}
.nameInput {
    position: absolute;
    top: 20px; left: 90px;
}
.nameForm .nameInputBtn {
    position: absolute;
    top: 39px; right: 128px;
    background-color: #fff;
}
.nameInputBtn[type="submit"] {
    font-family: FontAwesome;
    font-size: 16px;
    cursor: pointer;
    
}

/* 3.toDoInput 디자인 */
.toDoForm {position: relative;}
.toDoForm .toDoInput {
    position: absolute;
    top: 25px; right: 120px;
    
}
.toDoForm .toDoInputBtn {
    position: absolute;
    top: 28px; right: 138px;
    background-color: #fff;
}
.toDoInputBtn[type="submit"] {
    font-family: FontAwesome;
    font-size: 22px;
    cursor: pointer;
}

/* greeting 디자인 */
.greetings {
    text-align: center;
    font-size: 14px;
}

/* todolist li 디자인 */
.toDoList {
    position: absolute;
    top: 440px; left: 170px;
}
.toDoList span {
    display: inline-block;
    font-size: 16px;
}



/* checkBox Design */
input.cb_style {
    display: none;
}

input.cb_style + label { /* + 는 자식요소를 나타낸다 */
    display: inline-block;
    position: relative;
    top: -4px;

    width: 20px;    
    height: 20px;
    margin: 8px 8px 5px 5px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    background-color: #fff;
    
    /* 라벨 숨기기 */
    font-size: 1px;
    letter-spacing: -1px;
    text-indent: -3000px;
}

input.cb_style:checked + label { /* 체크박스 체크되었을 때 디자인 */
    background: #bdbdbd;
    background-image: url(../img/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.checked { /* 체크박스 활성화 시 텍스트 효과 */
    text-decoration: line-through;
    text-decoration-color: #bdbdbd;
    color: #bdbdbd;
}

/* 리셋버튼 디자인 */
.resetBtn {
    width: 70px; height: 25px;
    position: absolute;
    top: 794px; right: 40px;
    background-color: #C73737;
    color: white;
    text-align: center;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    font-size: 15px;
}